@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&family=Noto+Serif:ital,wght@1,300&family=Playfair+Display&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

html, body{
  width: 100%;
  height: 100%;
  background-color: #B1C381;
}